<div class="starter-home" ibmGrid>
	<ibm-tabs [isNavigation]="false">
		<ibm-tab heading="Current Order">
			<div ibmRow>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile >Name</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile >Table No.</ibm-clickable-tile>
				</div>
				<!-- <div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile >Items</ibm-clickable-tile>
				</div> -->
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile>Status</ibm-clickable-tile>
				</div>
			</div>
			<div ibmRow *ngFor="let order of orders">
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile >{{order.name}}</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile >{{order.tableNo}}</ibm-clickable-tile>
				</div>
				<!-- <div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile >{{order.items}}</ibm-clickable-tile>
				</div> -->
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile>{{order.status}}</ibm-clickable-tile>
				</div>
			</div>
		</ibm-tab>
		<ibm-tab heading="Completed Orders">
			<div ibmRow>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile >Name</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile >Table No.</ibm-clickable-tile>
				</div>
				<!-- <div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile >Items</ibm-clickable-tile>
				</div> -->
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile>Status</ibm-clickable-tile>
				</div>
			</div>
			<div ibmRow *ngFor="let order of completedOrders">
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile >{{order.name}}</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile >{{order.tableNo}}</ibm-clickable-tile>
				</div>
				<!-- <div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile >{{order.items}}</ibm-clickable-tile>
				</div> -->
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile>{{order.status}}</ibm-clickable-tile>
				</div>
			</div>
		</ibm-tab>
	</ibm-tabs>
</div>
